.login-button-width {
    min-width: 6rem;
}

#root .layout {
    background: #052147;
}

#root .layout:before {
    display: none;
}

#root .layout .bg-primary-400 h1 .text-accent-a {
    color: #ffffff;
    font-family: 'Open Sans';
}
#root .layout .bg-primary-400 h1 img {
    width: 95%;
}

#root .layout .content .div-logo-cq {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2vh;
}
#root .layout .content .div-logo-cq img {
    width: 50%;
    max-width: 300px;
    min-width: 100px;
}

.btn-social {
    width: 100%;
}
